body{
    background-color: aqua;
}
.Rolling:hover{
    border-radius: 6px;
    border: 2px solid black;
    mix-blend-mode: add;
}

.carousel-item:hover{
    border-radius: 6px;
    border: 2px solid black;
    mix-blend-mode: add;
}
h5{
    text-align: center;
}